!!! XML
!!!
%html{ :xmlns => 'http://www.w3.org/1999/xhtml'  }
  %head
    %title= yield(:head_title) || escape_once("#{Locomotive.config.name} &mdash; #{current_site.name}")
    = include_javascripts :common
    = include_javascripts :contents
    = include_stylesheets :common
    = include_stylesheets :bootstrap
    / [if IE]
      = include_stylesheets :ie, :media => 'screen'
  %body{ :class => controller.controller_name }
    #wrapper
      #header
        = render 'layouts/header_user'

      #light.container
        = yield
      <footer>
    
      </footer> 
:javascript
  $('legend span').html('Submit Proposal')

